@media print {
    h1 {
        color: black;
        text-align: center;
        font-family: Hilary;
        margin: 1in;
    }

    h3 {
        color: black;
        text-align: center;
        font-family: Hilary;
        margin: 1in;
    }
    p {
        color:Black; 
        text-align: center;
        font-family: Sheaffer;
        margin: 1in;
    }
}
blockquote { 
    color:black;
    text-align: center;
    font-family: Hilary;
    margin: 1in;
}
footer {
    color: black;
    text-align: center;
    font-family: Hilary;
    margin: 1in;
}
    }