* {
    margin: 0;
    padding: 0;
}

.onlyprint{
    display: none;
}
     
body {
    margin: 1% auto;
    width: 60%; 
    border: 10px solid black;
}

header {
    border-bottom: 10px solid black;
    font-family: Hilary;
    font-size: 25px;
    text-align: center;
    color:#660000
}
     
main {
    float: left;
    width: 100%;
}
     
footer {
    border-top: 10px solid black; 
    clear: both;
    font-family: Sheaffer;
    font-size: 12 px;
    color: lightgoldenrodyellow;
    text-align: center;
    background-image: url(https://hsheaffer.github.io/footerbkgd.jpg);
    padding-top: 5px;
}

@font-face {
    font-family: Hilary;
    src: url(https://hsheaffer.github.io/Shrikhand-Regular.ttf)
}

@font-face {
    font-family: Sheaffer;
    src:url(https://hsheaffer.github.io/Sriracha-Regular.ttf)
}

p {
    font-family: Sheaffer;
    font-size: 18px;
    text-align:center;
}

img  {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 10px 10px;
    max-width: 100%;
}



html {
    background: url(https://hsheaffer.github.io/linen.jpg) no-repeat center fixed;
    background-size: cover;
}

blockquote {
    font-family: Hilary;
    font-size: 12px;
    text-align: center;
    color: #cc6600;
}

h3 {
    text-align: center;
    font-family: Sheaffer;
}

h5 {
    font-size: 20px;
    font-family: Hilary;
    color: #cc6600;
    text-align: center;

}

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.active a:link {
    background-color: beige;
}

table {
    display: flex;
}

table, th, td {
    text-align: left;
    border: solid 5px #663300;
    font-family: Sheaffer;
    font-size: 100%;
    border-collapse: collapse;
}

form {
    font-family: Sheaffer;
    text-align: center;
    font-size: 22px;
}

input[type=text] {
    background-color:#663300;
    color: lightgoldenrodyellow;
  }

textarea {
    background-color:#663300;
    color: lightgoldenrodyellow;
}

fieldset {
    border: 3px solid black;
    width: 50%;
    margin: auto;
    font-family: Sheaffer;
    font-size: 18px;
    border-radius: 8px;
}

label {
    display: block;
}

.ed-list{
    font-family: Sheaffer;
    font-size: 18px;
    text-align:center;
}

.ed-item{
    font-family: Sheaffer;
    font-size: 18px;
    text-align:center;
}

.animation {
    width: 2rem;
    height: 2rem;
    transition: width 2s;
}

.animation:hover{
    width: 75px;
}

.ed-image {
    display: inline;
    width: 30%;
    height: 30%;
}

.image-container {
    display: flex;
}

@media screen and (max-width: 640px) {
    .ed-image {
        display: flex;
        height: 50%;
        width: 50%;
    }
    header header, h3 {
        font-size: 80%;
    }
    .image-container {
        display: block;
    }
}

@media print {

    body, footer {
        border: 0px;
    }

    nav, header, video, label {
        display: none;
    }

    i, .animation, .noprint, #noprint {
        display: none;
    }

    p, blockquote, h1, h2, h3, h4, h5, h6, h7 {
        color: black;
    }

    p, blockquote, footer {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .onlyprint {
        display: flex;
    }

    @page {
        margin: 1in, 1in, 1in, 1in;
    }
}

